nav {
    ul {
        li {
            a {display: block; text-decoration: none;
                &:hover {text-decoration: none;}
            }
        }
    }
    &.nav-main {font-family: $font-heading;
        ul {
            li {float: left;
                a {margin: 0 5px 0 0; padding: 2px 0; width: 105px; text-align: center; font-size: 1.08em; color: #555; 
                    @include border-radius(2px);
                    @include box-shadow(0px -2px 4px 1px rgba(155,145,129, 0.4));
                    &:hover {padding: 3px 0 1px; color: #4f4648; background: #F9F8F6;
/*                        $experimental-support-for-svg: true;*/
                        @include background-image(linear-gradient(top, #FCFBFB, #F6F5F3));
                    }
                    &.current {color: #4f4648; background: #F9F8F6;}
                }
            }
        }
    }    
}