// Variables
// ================================================== //



// Typography
// -------------------------------------------------- //

$font-heading : 'Lucida Grande','Lucida Sans Unicode',Arial,sans-serif;
$font-body : Arial, "Helvetica Neue", Helvetica, sans-serif; 

// Color Profile
// -------------------------------------------------- //

// body
$body-color: #555667;
$body-background: #555667;
$body-link-color: #0066CC;
$body-link-color-hover: #0066CC;
$body-red: #ED1C24;
$body-strong-01-color: #333;
$body-strong-hover-color: #000;
$body-strong-02-color: #e72400;

$grey-color: #858589;

// Text shadow
$default-text-shadow-color: #000000;
$default-text-shadow-blur: 6px;
$default-text-shadow-v-offset: 1px;

// Border Profile
// -------------------------------------------------- //

// border-primary
$border-primary: solid 1px #BEB7AC;