body {
	.container {@include container; width: 99%; min-width: 950px;}

	form {
		@include blueprint-form;
		
	}
	.cols {@include column($blueprint-grid-columns);
		&.two-cols {
			.col {@include column($blueprint-grid-columns/2);}
		}
		&.three-cols {
			.col {@include column($blueprint-grid-columns/3);}
		}
		&.four-cols {
			.col {@include column($blueprint-grid-columns/4);}
		}
		.col {
			&.last {@include last;}
		}
	}
		

	// Page layout can be done using mixins applied to your semantic classes and IDs:
	&.two-col {
		.container {
			@include container;
		}
		sidebar {
			// One third of the grid columns, rounding down. With 24 cols, this is 8.
			$sidebar-columns: floor($blueprint-grid-columns / 3);
			@include column($sidebar-columns);
		}
		.content {
			// Two thirds of the grid columns, rounding up.
			// With 24 cols, this is 16.
			$content-columns: ceil(2 * $blueprint-grid-columns / 3);
			// true means it's the last column in the row
			@include column($content-columns, true);
		}
	}

	/* layout */

	/* header */
	header {@include column($blueprint-grid-columns);
		&.header-page {
			.logo {
				a {display: block; width: 235px; height: 34px; text-indent: -9999em;}
			}
		}
	}
	/* main */
	.main {@include column($blueprint-grid-columns);
	}	
	footer {
		&.footer-page {}
	}

	/* common element */ 

}
